<div>
    Chat socket 

    <input type="text" name="message" id="message">
    <div id="list-message">

    </div>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>