<main class="container">

    <h1>Register</h1>
    <form action="/api/sessions/register" method="POST" class="form-group w-50">
        <label>Nombre</label>
        <input type="text" name="first_name" class="form-control">
        <label>Apellido</label>
        <input type="text" name="last_name" class="form-control">
        <label>Email</label>
        <input type="email" name="email" class="form-control">
        <label>Password</label>
        <input type="text" name="password" class="form-control">
        <button class="btn btn-outline-dark w-100 mt-3">Enviar</button>
    </form>
</main>