<div class="container">
    <h1>Login</h1>
    <form class="form-group w-50" action="/api/sessions/login" method="POST">       
        <label class="form-label">Email</label>
        <input type="text" name="email" class="form-control">
        <label class="form-label">Password</label>
        <input type="text" name="password" class="form-control">
        <label id="mensaje"></label>
        <input class="btn btn-outline-dark mt-3 w-100" type="submit">
    </form>

</div>