<h1>Registro</h1>
<div class="container">
    <form action="/api/sessions/register" method="POST" class="form-group w-50">
        <label class="form-label">Nombre</label>
        <input   class="form-control" name="first_name">
        <label class="form-label">Apellido</label>
        <input type="text" class="form-control" name="last_name">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" name="email">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="password">
        <input class="btn btn-outline-dark mt-3 w-100" type="submit">
    </form>
</div>