<main>
    <h1>Formulario de carga de archivos</h1>
    
    <h2>Subir imagen de perfil</h2>
    <form action="/api/usuarios/fede/documents" method="POST" enctype="multipart/form-data">
        <label for="profile">Seleccionar imagen de perfil:</label>
        <input type="file" name="profile" accept="image/*" required><br><br>
        <button type="submit">Enviar</button>
    </form>
    
    <h2>Subir imágenes de productos</h2>
    <form action="/api/usuarios/fede/documents" method="POST" enctype="multipart/form-data">
        <label for="products">Seleccionar imágenes de productos:</label>
        <input type="file" name="products" accept="image/*"><br><br>
        <button type="submit">Enviar</button>
    </form>
    
    <h2>Subir documentos de usuario</h2>
    <form action="/api/usuarios/6410f7860ec6551e688cbb35/documents" method="POST" enctype="multipart/form-data">
        {{!-- <label for="name">Nombre del documento:</label>
        <input type="text" name="name" required><br><br> --}}
        <label for="documents">Seleccionar documentos:</label>
        <input type="file" name="documents" id="documents" multiple>
        <br><br>
        <button type="submit" value="Upload files">Enviar</button>
    </form>
</main>

{{!-- 6410f7860ec6551e688cbb35 --}}