{{!< layouts}}

    <div>
        <h1>Reset Password</h1>
        {{!-- <form action="/api/session/reset-password/{{token}}" method="POST"> --}}
        <form action="/api/session/reset-password" method="POST">
            <input type="hidden" name="token" value="{{token}}">
            <input type="password" name="passwordNew" placeholder="Enter new password" required>
            <input type="password" name="passwordConfirm" placeholder="Confirm new password" required>
            <button type="submit">Reset Password</button>
        </form>
    </div>

