<div>
    <h1>Registrar usuario</h1>
    <form action="/api/sessions/register" method="post" >
        <label>Email</label>
        {{!-- Diseño inseguro a4 --}}
        <input name="email">
        <label>Password</label>
        <input name="password">
        <button>Enviar</button>
    </form>
</div>