<div>
    <h1>Registrar usuario</h1>
    <form id="registerForm">
        <label>Nombre</label>
        <input name="first_name">
        <label>Apellido</label>
        <input name="last_name">
        <label>Email</label>
        <input name="email">
        <label>Password</label>
        <input name="password">
        <button>Enviar</button>
    </form>
</div>
<script src="/js/register.js"></script>